@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/*  Global */
html,
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}

.active {
    color: #246cf1 !important;
}

/* Fonts */
.title-stylish {
    font-family: 'Courgette', cursive;
}

.title-main {
    font-family: 'Rozha One', serif;
}

.text-main {
    font-family: 'Lato', sans-serif;
}

.second-color {
    color: #eb2789;
}

.primary-color {
    color: #2c1a00;
}

/* Buttons */
.btn-main {
    height: 45px;
    width: 200px;
    font-size: 20px;
    background-color: #ff659673;
    border: 1px solid #f9acc6;
}

.btn-main:hover {
    height: 45px;
    width: 200px;
    font-size: 20px;
    background-color: #ffeff4;
}

.btn-cta {
    height: 45px;
    width: 200px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.btn-cta:hover {
    height: 45px;
    width: 200px;
    font-size: 20px;
    background-color: #f5f5f5;
    color: #000000;
}

.btn-footer {
    background-color: #246cf1;
    color: #fff;
}

.btn-footer:hover {
    background-color: #044bcf;
    color: #ffffff;
}

/* Hero */
.jumbotron {
    color: white;
    background-image: url('https://res.cloudinary.com/dpzvospv4/image/upload/v1611788002/cake-3395540_1920_aekvwm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    color: black;
    height: 100vh;
    padding-left: 40px;
}

.hero-title {
    color: #eb2789;
    font-size: 50px;
}

/* Navbar */
.navbar {
    width: 100%; /* Full width */
    border-top: solid 1px #eb2789;
    padding-top: 0px;
}

.nav-link {
    color: #2e2e2e !important;
    font-weight: 400;
    font-size: 18px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.nav-link:hover {
    color: #e40f92 !important;
}

/* Responsive */
@media only screen and (max-device-width: 1024px) {
    /* Navbar */
    .nav-link {
        color: #2e2e2e !important;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        transition: color 0.3s;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
    }

    .jumbotron {
        background-image: url('https://pixabay.com/get/57e9d0474a57a814f6d1867dda35367b1c38deec57507040_1920.jpg');
        background-repeat: no-repeat;
        font-weight: 700;
        color: black;
        height: 60vh;
    }

    /* Promo */
    #promo-cards {
        margin-top: 4rem;
    }

    /* About us */
    #about-us-text-section {
        padding-top: 0% !important;
        padding-bottom: 6.5rem !important;
    }

    /* Menu */
    #menu-card {
        margin-bottom: 4rem;
    }

    /* Landing Form */
    .landing-form {
        background-color: hsl(34, 100%, 47%, 0.9);
        color: #fff;
        margin-right: 15px;
        box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.5);
    }

    .yelp-reviews {
        margin-right: 350px;
    }
}

@media only screen and (max-device-width: 786px) {
    /* Navbar */
    .nav-link {
        color: #2e2e2e !important;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        transition: color 0.3s;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
    }

    .jumbotron {
        background-image: url('https://pixabay.com/get/57e9d0474a57a814f6d1867dda35367b1c38deec57507040_1920.jpg');
        background-repeat: no-repeat;
        font-weight: 700;
        color: black;
        height: 60vh;
    }

    /* Promo */
    #promo-cards {
        margin-top: 4rem;
    }

    /* About us */
    #about-us-text-section {
        padding-top: 0% !important;
        padding-bottom: 6.5rem !important;
    }

    #aboutus-img {
        display: none;
    }

    /* Menu */
    #menu-card {
        margin-bottom: 4rem;
    }

    /* Landing Form */
    .landing-form {
        background-color: hsl(34, 100%, 47%, 0.9);
        color: #fff;
        margin-right: 15px;
        box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.5);
    }

    .yelp-reviews {
        margin-right: 350px;
    }
}

@media only screen and (max-device-width: 375px) {
    /* Navbar */
    .nav-link {
        color: #2e2e2e !important;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        transition: color 0.3s;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
    }

    .jumbotron {
        background-image: url('https://pixabay.com/get/57e9d0474a57a814f6d1867dda35367b1c38deec57507040_1920.jpg');
        background-repeat: no-repeat;
        text-align: center;
        background-size: 750px;
        background-position: -80px -10px;
        font-weight: 700;
        color: black;
        height: 60vh;
    }

    /* Promo */
    #promo-cards {
        margin-top: 4rem;
    }

    /* About us */
    #about-us-text-section {
        padding-top: 0% !important;
        padding-bottom: 6.5rem !important;
    }

    #aboutus-img {
        display: none;
    }

    /* Menu */
    #menu-card {
        margin-bottom: 4rem;
    }

    /* Landing Form */
    .landing-form {
        background-color: hsl(34, 100%, 47%, 0.9);
        color: #fff;
        margin-right: 15px;
        box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.5);
    }

    .yelp-reviews {
        margin-right: 350px;
    }
}
